@font-face{
    font-family: 'myFirstFont';
    src: url(/fonts/1up.ttf);
}

@font-face {
    font-family: 'mySecondFont';
    src: url(/fonts/Symtext.ttf);
}

body {
    font-family: 'myFirstFont';
    font-size: 30px;
    color: purple;
    background-color: beige
}

.container {
    text-align: center;
    margin-top: 20px;
}

.search-input {
    padding: 12px;
    width: 300px;
    font-family: 'mySecondFont';
    color: black;
    font-size: 18px;
    border-radius: 10px;
    outline-style: inset;
    
  }

.search-button {
    font-family: 'mySecondFont';
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: purple;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px #999;
    
}

.search-button:active {
    background-color: purple;
    box-shadow: 0 5px #666;
    transform: translatey(4px);
    
}

.search-button:hover {
    background-color: black
}

.image-gallery {
    padding: 70px;
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-1 {
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .container {
      margin-top: 40px;
    }
  
    .search-input {
      width: 80%;
      max-width: 300px;
    }
}